{% extends "base.html" %}

{% block content %}

 <div class="page-header" align="center"><h2>All categories</h2></div>


 <a class="btn btn-primary" href="/category/new">Create New Category</a>

<table align="center" class="table table-striped">
  <tr>
    <th>Category</th>
    <th>Parent Category</th>
    <th>Update</th>
  </tr>
{% for this_category in categories %}
  <tr>
    <td>{{ this_category.label }}</td>
    <td>{{ this_category.parent.label }}</td>
    <td><a href="/category/update/{{ this_category.id }}">Update</a></td>
  </tr>
{% endfor %}
</table>

{% endblock %}
