<!-- hide on mobile/tablet -->
<div style="position:fixed;bottom:0;width:100%;">
    <nav class="navbar navbar-default hidden-xs hidden-sm">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <p class="navbar-text">
                        &copy; {% now "Y" %}
                    </p>
                </li>
                <li>
                    <a href="https://maheswaranm.com" target="_blank">Maheswaran Moothiringode </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://github.com/maheswaranm/finman/issues/new" target="_blank">Report An Issue</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
