{% extends "base.html" %}

{% block title-extra %} | Home {% endblock %}

{% block content %}


<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <canvas id="net_worth_chart" height="100%"></canvas>
  </div>
</div>
<div class="row">
    <div class="col-md-1">
        <script type="text/javascript">
            $(function() {
                $('[data-toggle="popover"]').popover({'container':'body'})
            })
        </script>
        <button type="button" class="btn btn-default" data-toggle="popover" data-placement="right"
          data-content='
            <a title="Credit" href="/credit/new"><span class="glyphicon glyphicon-save" style="font-size:30px"></span></a>
            <a title="Debit" href="/debit/new"><span class="glyphicon glyphicon-open" style="font-size:30px"></span></a>
            <a title="Transfer" href="/transfer/new"><span class="glyphicon glyphicon-transfer" style="font-size:30px"></span></a>
          '
          data-html="true" title="Add Transaction">
          <span class="glyphicon glyphicon-plus-sign" style="font-size:40px"></span>
        </button>
    </div>
    <div class="col-md-11">
      Last 20 transactions
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>From</th>
                <th>To</th>
                <th>Time</th>
                <th>Amount</th>
            </tr>
            {% for this_transaction in transactions %}
            <tr>
                <td>{{ this_transaction.id }} {{ this_transaction.type_of_transaction }}</td>

                {% if this_transaction.type_of_transaction == "Credit" %}
                <td>{{ this_transaction.from_account }}</td>
                {% else %}
                <td><a href="/account/{{ this_transaction.from_account.id }}">{{ this_transaction.from_account.label }}</a></td>
                {% endif %} {% if this_transaction.type_of_transaction == "Debit" %}
                <td>{{ this_transaction.to_account }}</td>
                {% else %}
                <td><a href="/account/{{ this_transaction.to_account.id }}">{{ this_transaction.to_account.label }}</a></td>
                {% endif %}


                <td>{{ this_transaction.time_of_transaction }}</td>

                <td>{{ this_transaction.amount }} {{ this_transaction.currency }}</td>

            </tr>
            {% endfor %}
        </table>
        <br/>
    </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <a href="transaction/all" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-list"></span> View all Transactions</a>
  </div>
</div>
<script>
window.chartColors = {
	red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)'
};
var ctx = document.getElementById("net_worth_chart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ labels | safe }},
        datasets: [{
            label:'Net Worth',
            data: {{ data | safe }},
            backgroundColor: window.chartColors.blue
          }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }],
            xAxes: [{
              ticks:{
                autoSkip:true,
                maxRotation:0
              }
            }],
            tooltips: {
                enabled: true,
                mode:'label',
                position: 'nearest'
            }
        }
    }
});
</script>

{% endblock %}
